.hero-banner {
  background-image: url("../../assets/Images/image1.png");
  height: 691px;
  width: 100%;
  background-size: 100%;
  position: absolute;
  transition: background-size 1500ms ease;
  background-size: 100%;
  -webkit-transition: background-size 1500ms linear;
  -moz-transition: background-size 1500 linear;
  -o-transition: background-size 1500 linear;
  -ms-transition: background-size 1500ms linear;
}

/* .hero-banner:hover {
  background-size: 120%;
} */

.hero-wrapper {
  padding-top: 83px;
  width: 548px;
  background-color: aqua;
  margin-left: 73px;
}

.hero-header {
}

.header-txt {
}

.hero-description {
}

.description-txt {
}

.hero-play {
}

.play-txt {
}

@media only screen and (max-width: 992px) {
  .hero-banner {
    height: 521px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-banner {
    height: 420px;
  }
}

@media only screen and (max-width: 576px) {
  .hero-banner {
    height: 320px;
  }
}
