.hero-banner {
  background-image: url("../../assets/Images/image1.png");
  height: 691px;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 0;
}

@media only screen and (max-width: 992px) {
  .hero-banner {
    height: 521px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-banner {
    height: 420px;
  }
}

@media only screen and (max-width: 576px) {
  .hero-banner {
    height: 320px;
  }
}
