.nav-container {
  height: 83px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6vw;
  padding-right: 6vw;
}

.logo {
  width: 93px;
  height: auto;
}

.link-container {
  display: flex;
  justify-content: space-between;
  width: 672px;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.links {
  text-decoration: none;
  color: "#001D5D";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  padding-left: 5px;
}

.sign-up {
  background-color: #d9f0d0;
  color: #68c242;
  width: 148px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1s, color 1s;
}

.sign-up:hover {
  background-color: #68c242;
  color: white;
}

@media only screen and (max-width: 992px) {
  .nav-container {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .link-container {
    width: 472px;
  }

  .sign-up {
    width: 108px;
    height: 41px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-container {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .link-container {
    width: 372px;
  }

  .logo {
    width: 53px;
  }

  .links {
    font-size: 12px;
  }

  .sign-up {
    width: 88px;
    height: 35px;
  }
}

@media only screen and (max-width: 635px) {
  .nav-container {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  .link-container {
    width: 322px;
  }

  .links {
    font-size: 10px;
  }

  .sign-up {
    width: 68px;
    height: 35px;
  }
}
