.nav-position {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.nav-layout {
  height: 83px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 73px;
  padding-right: 75px;
  transition: 0.5s ease padding;
}

.logo {
  width: 93px;
  height: auto;
  margin: 0;
}

.link-container {
  display: flex;
  justify-content: space-between;
  width: 672px;
}

.nav-links {
  display: flex;
  justify-content: center;
  transition: all 1s;
  transform-origin: left center;
  margin: 0;
}

.nav-links:hover {
  transform: scale(1.1);
}

.links {
  text-decoration: none;
  color: #001d5d;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 19px;
  padding-left: 5px;
  margin: 0;
}

.sign-up {
  background-color: #d9f0d0;
  color: #68c242;
  width: 148px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1s, color 1s;
  margin: 0;
}

.sign-up:hover {
  background-color: #68c242;
  color: white;
}

@media only screen and (max-width: 992px) {
  .link-container {
    width: 472px;
  }

  .sign-up {
    width: 108px;
    height: 41px;
  }
}

@media only screen and (max-width: 768px) {
  .nav-layout {
    padding-left: 43px;
    padding-right: 45px;
    transition: 0.5s ease padding;
  }

  .link-container {
    width: 372px;
  }

  .logo {
    width: 53px;
  }

  .links {
    font-size: 12px;
  }

  .sign-up {
    width: 88px;
    height: 35px;
  }
}

@media only screen and (max-width: 576px) {
  .nav-layout {
    padding-left: 18px;
    padding-right: 18px;
    transition: 0.5s ease padding;
  }

  .link-container {
    width: 322px;
  }

  .links {
    font-size: 10px;
  }

  .sign-up {
    width: 68px;
    height: 35px;
  }
}
